@font-face {
    font-family: "Inter Regular";
    src: url("/assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("/assets/fonts/static/Inter-Bold.ttf");
}

:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --green: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    /* Typography */
    --font-family-regular: "Inter Regular", sans-serif;
    --font-family-bold: "Inter Bold", sans-serif;
    --font-size-1: 1.5rem;
    --font-size-2: 0.875rem;

    /* Spacing */
    --space-500: 40px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family-regular);
    background-color: var(--grey-900);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-2);
}

.margin-bottom-300 {
    margin-bottom: var(--space-300);
}

.margin-bottom-200 {
    margin-bottom: var(--space-200);
}

.margin-bottom-50 {
    margin-bottom: var(--space-50);
}

.card {
    width: 24rem;
    background-color: var(--grey-800);
    padding: var(--space-500);
    text-align: center;
    border-radius: 12px;
}

img {
    width: 5.5rem;
    margin: auto;
    border-radius: 50%;
}

.title {
    font-family: var(--font-family-bold);
    font-size: var(--font-size-1);
}

.description {
    font-family: var(--font-family-bold);
    color: var(--green);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    background-color: var(--grey-700);
    padding-block: var(--space-150);
    border-radius: 8px;
    font-family: var(--font-family-bold);
}